#code-section {
  margin: 100px 5% 0 5%;
  color: #ffffbf;
}

#code-section .slider {
  height: fit-content;
  background-color: #252525;
  padding: 0 10px;
}

#code-section .slider .btn-slider {
  background-color: #ffffbf;
}

.code-slider {
  background-color: #252525;
}

.github-link {
  color: #a9d1f7;
}

.code-description {
  margin: 30px 0;
}

.code-content {
  width: 80%;
  text-align: center;
  padding: 20px;
}

.technologies {
  color: #e2e2e2;
  padding: 10px 0;
}
