.sentence-section {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.sentence-word {
  font-family: "Rock Salt", cursive;
  font-size: 1.5rem;
  visibility: hidden;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

@media only screen and (min-width: 600px) {
  .sentence-word {
    font-size: 2rem;
  }
}

.dream {
  color: #4f8a8b;
  animation-name: light-word;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  text-shadow: 0 0 50px #4f8a8b;
}

.plan {
  color: #f4f6ff;
  animation-name: light-word;
  animation-delay: 4.5s;
  animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  text-shadow: 0 0 50px #f4f6ff;
}

.create {
  color: #fbd46d;
  animation-name: light-word;
  animation-delay: 8s;
  animation-fill-mode: forwards;
  text-shadow: 0 0 50px #fbd46d;
}

@keyframes light-word {
  100% {
    visibility: visible;
  }
}
