.sentence-section {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: -25px;
}

.sentence-word {
  font-family: "Rock Salt", cursive;
  font-size: 1.5rem;
  visibility: hidden;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  letter-spacing: 0.5em;
}

@media only screen and (min-width: 600px) {
  .sentence-word {
    font-size: 2rem;
  }
}

.dream {
  color: #b4f0a7;
  animation-name: light-word;
  animation-delay: 1s;
  animation-fill-mode: forwards;

  /* margin-top: -10px; */
}

.plan {
  color: #ffffbf;
  animation-name: light-word;
  animation-delay: 4.5s;
  animation-fill-mode: forwards;

  /* margin-top: -10px; */
}

.create {
  color: #a9d1f7;
  animation-name: light-word;
  animation-delay: 8s;
  animation-fill-mode: forwards;

  /* margin-top: -10px; */
}

@keyframes light-word {
  100% {
    visibility: visible;
  }
}
