#hobby-section {
  margin-top: 100px;
}

#hobby-section .small-card {
  background-color: #4f8a8b;
  color: #ffffbf;
}

#hobby-section .small-card:nth-child(odd) {
  background-color: #fbd46d;
  color: #04020e;
}

.hobby-card {
  margin-top: 0;
  box-shadow: 0px 0px 5px #fbd46d;
}
