#hobby-section {
  margin-top: 100px;
}

#hobby-section .small-card {
  background-color: #a9d1f7;
  color: #252525;
}
#hobby-section .small-card:nth-child(odd) {
  background-color: #b4f0a7;
}

.hobby-card {
  margin-top: 0;
  background-color: #252525;
}
