.slider {
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  overflow: hidden;

  align-items: center;
  height: fit-content;
  min-height: 300px;
  background-color: #252525;
  border-radius: 4px;
}

.slide {
  min-width: 100%;
  height: 100%;
  transition: 0.5s;
  overflow: hidden;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-slider {
  position: absolute;
  transform: translate(-50%);
  width: 10%;

  border: none;

  background-color: #cdf8c31e;
  height: 30%;
  border-radius: 10px;

  border: 1px solid black;
  box-shadow: 0 0 3px #ffffbf inset;
}

#goLeft {
  left: 5%;
}

#goRight {
  right: -5%;
}

.sign {
  width: 70%;
}
