.slider {
  width: 100%;
  height: 60vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  overflow: hidden;
}

.slide {
  min-width: 100%;
  height: 100%;
  transition: 0.5s;
  overflow: hidden;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-slider {
  position: absolute;
  transform: translate(-50%);
  width: 10%;
  height: 100%;

  border: none;
}

#goLeft {
  left: 5%;
}

#goRight {
  right: -5%;
}

.sign {
  width: 70%;
}
