.headerAnimation {
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.bg-house {
  width: 100%;
}

.light-squares {
  position: absolute;
  width: 100%;
  height: 90%;
  z-index: -10;
  display: flex;
}

.ls1,
.ls2,
.ls3 {
  height: 100%;
  width: 33%;
}
.ls1 {
  background-color: #b4f0a7;
}

.ls2 {
  background-color: #ffffbf;
}

.ls3 {
  background-color: #a9d1f7;
}

.bg1,
.bg2,
.bg3 {
  position: absolute;
}

.bg1 {
  z-index: -1;
  animation: light 1s forwards;
}

.bg2 {
  z-index: -2;
  animation: light 4.5s forwards;
}

.bg3 {
  z-index: -3;
  animation: light 8s forwards;
}

.bg4 {
  position: relative;
  z-index: -4;
}

@keyframes light {
  100% {
    visibility: hidden;
  }
}

.me {
  height: 50%;
  position: absolute;
  top: 48%;
  left: 4%;
  z-index: -5;
  animation: walker 7s 2s linear, mover 0.5s 0s linear 50;
}
@keyframes mover {
  0% {
    top: 47%;
    transform: rotate(0deg);
  }
  50% {
    top: 46.5%;
    transform: rotate(1deg);
  }
  100% {
    top: 47%;
    transform: rotate(0deg);
  }
}

@keyframes walker {
  100% {
    left: 70%;
  }
}
