h4 {
  color: #a9d1f7;
  width: 100%;
  font-size: 2rem;
}

.skill-card {
  background-color: #252525;
  margin-top: 0;
  padding: 10px 5px 5px;
}

#skill-section .small-card {
  height: 130px;
  padding: 5px 1px 1px;
  margin: 6px;
}

.skill-img {
  width: 60%;
}
