#skill-section {
  margin-top: 100px;
}

.skill-fields {
  box-shadow: 0px 0px 5px #fbd46d;
  margin-top: 0;
  margin-bottom: 0;
}

h4 {
  color: #4f8a8b;
  width: 100%;
  font-size: 2rem;
  margin: 20px;
}

.skill-card {
  margin: 5px 0;
  padding: 0;
}

#skill-section .small-card {
  height: 130px;
  padding: 5px 1px 1px;
  margin: 3px;
}

.skill-img {
  width: 60%;
}
