#education-section {
  margin: 100px 5% 0 5%;
}

.school-name {
  font-size: 2.3rem;
  color: #f4f6ff;
}

.school-description {
  margin: 30px 0;
  color: #fbd46d;
  padding: 10px;
}
.school-content {
  width: 80%;
  text-align: center;
  padding: 10px;
}

#education-section a {
  color: #4f8a8b;
}

#education-section a:hover {
  color: #f4f6ff;
}

.code-name {
  color: #fbd46d;
}
