#footer {
  background-color: #222831;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  font-size: 0.9rem;
  color: #f4f6ff;
  flex-direction: column;
}
