* {
  font-family: "Lato", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ffffbf;
  font-size: 3rem;
  font-family: "Cormorant Garamond", serif;
  font-variant: small-caps;
  text-align: center;
}

body {
  background-color: #0f0808;
}

.card-content {
  height: 410px;
  width: 260px;
  /* background-color: rgb(255, 157, 29); */
  background-color: white;
  margin-top: 190px;
  margin: 190px auto 0;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  margin: 45px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.code-card {
  /* background-color: rgb(176, 233, 250); */
  /* background-color: #a6e22e; */
  background-color: #66d9ef;
}

.code-card h2 {
  color: #f92672;
  /* color: #fff; */
}

.code-card p {
  color: #272822;
}
.code-card p:nth-of-type(2) {
  color: #75715e;
}

.port-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 10px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  margin: 10px;
  border-radius: 10px;
  width: 80%;
  display: block;
}

.section {
  margin-top: 150px;
}

.small-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  text-align: center;
  background-color: #ffffbf;
  margin: 10px;
  border-radius: 10px;
  width: 100px;
}
